body {
    margin: 0px;
    overflow: hidden;
    background-color: Azure;
  }
  
  .points{
      fill:grey;
    opacity: 0.2;
    stroke: black;
  }
  .points:hover{
      fill:blue;
    opacity: 1.0;
    
  }
  

  .grid-container {
    position: absolute;
    top: 6vw;
    left: 21vw;
    right: -21vw;
    display: flex;
  }
  .box-container{
      flex: 1;
  }
  
  .words_Container_1 {
    position: absolute;
    top: 25vw;
    left: 9vw;
    right: 0;
    display: flex;
  }
  
  
  .topic_Container_1 {
    position: absolute;
    top: 25vw;
    left: 31vw;
    right: 0;
    display: flex;
    margin-left: 0px;
  }
  
  .words_Container_2 {
    position: absolute;
    top: 25vw;
    left: 59vw;
    right: 0;
    display: flex;
  }
  
  
  .topic_Container_2 {
    position: absolute;
    top: 25vw;
    left: 81vw;
    right: 0;
    display: flex;
    margin-left: 0px;
  }
  
  
  
  
  
  
  
  